* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (min-width: 300px) and (max-width: 900px) {
}

html {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	color: white;
	background: black;
	margin: 2%;
}


.navbar {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
#navbar {
	display: inline;
	text-align: center;
}

li a {
	display: inline-block;
	padding: 0px 60px 0px 60px;
	text-decoration: none;
}

li a:hover {
	color: white;
}
body {
	margin: 0px;
	
}
h1 {
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
}

h2 {
	font-size: 2rem;
	margin: 0;
	padding-left: 10%;
}

p {
	padding-left: 10%;
	padding-right: 10%;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    padding-left: 20%
}

.col-6 {
    width: 50%
}

img {
	display: block;
	padding: 0px;
	margin: 0 auto;
	max-width: 80%;

}

.image-container {
	overflow: hidden;
}

a {
	color: grey;
	text-decoration: none;
	padding-left: 10%;
}

a:hover {
	color: white;
}

ul {
	text-align: left;
}

table {
	text-align: left;
	padding-left: 10%;
}

table th {
	font-size: 1.25rem;
}

.bandimage {
	margin-bottom: 20%;
}

.bandimage .image-band {
	display: inline-block;
	width: 50%;
}

iframe {
	width: 80%;
	padding-left: 20%
}

.social {
	display: inline-flex;
	flex-wrap: wrap;
	padding-left: 10%;
}

footer {
	font-size: 0.75rem;
	text-align: center;

}


